<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: large; text-align: center;">ID cards</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-button style="font-size: large;" href="/home">-Back</ion-button>
 </ion-item>
 <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/Home">Home</ion-item>
      <ion-item href="/graduation" >Graduation</ion-item>
      <ion-item href="/i" >ID cards</ion-item>
      <ion-item href="/i">Panels</ion-item>
      <ion-item href="/i">Logo's</ion-item>
      <ion-item href="/i">Certificates</ion-item>
      <ion-item href="/i">Marriage</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-router-outlet id="main"></ion-router-outlet>
<ion-content>
  
  <ion-card-title style="text-align: center; color: tomato; font-family:lucida ;"> Available Design</ion-card-title>
   <!-- <img src="assets/logo.png" alt="Darwiish-logo"> -->
   <ion-items>
   <img src="assets/id card.jpg" alt="idcard" width="400" height="500" style="border: 20px solid white">
   <br>
   <img src="assets/id width.jpg" alt="width" style="border: 20px solid white">
   <br>
   <img src="assets/idd.jpg" alt="idd" style="border: 20px solid white">
   <br>
  
  </ion-items>
</ion-content>

