<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <img src="assets/logo.png" alt="Darwiish-logo"> 
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Darwiish graphic design</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Darwiish graphic design is a company provide all graphic services via online and offline
      also we provide education courses about graphic design with certificate for all time.
    </ion-card-content>
  </ion-card>
</ion-content>
