<ion-header  [translucent]="true">

  <ion-toolbar>
    <ion-title style="background-color:rgb(235, 68, 90)">
      Home
    </ion-title>
  </ion-toolbar >
  <br>
  <ionic-title>
    <ion-searchbar animated></ion-searchbar>
  </ionic-title>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <img src="assets/logo.png" alt="Darwiish-logo"> 
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="color: rgb(235,68,90)" >Darwiish graphic design</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Darwiish graphic design is a company provide all graphic services via online and offline
      also we provide education courses about graphic design with certificate for all time.
    </ion-card-content>
    <ion-text color="danger">
      <h1>Design clasifications</h1>
    </ion-text>
    
    <!-- Item as a Button -->
    <!-- <ion-item button (click)="buttonClick()">
      <ion-label>
        Button Item
      </ion-label>
    </ion-item>
     -->
    <!-- Item as an Anchor -->
    <ion-item color="danger" href="https://www.google.com">
      <ion-label>
        Graduation Designs
      </ion-label>
    </ion-item>
    <ion-item color="danger" href="https://www.google.com">
      <ion-label>
        ID-CARD designs
      </ion-label>
    </ion-item>
    <ion-item color="danger" href="https://www.ionicframework.com">
      <ion-label>
        panel designs
      </ion-label>
    </ion-item>
    <ion-item color="danger" href="https://www.ionicframework.com">
      <ion-label>
        logo designs
      </ion-label>
    </ion-item>
    <ion-item color="danger" href="https://www.ionicframework.com">
      <ion-label>
        graphic designs
      </ion-label>
    </ion-item>
    <ion-item color="danger" href="https://www.ionicframework.com">
      <ion-label>
        certificate Designs
      </ion-label>
    </ion-item>
    <ion-item color="danger" href="https://www.ionicframework.com">
      <ion-label>
        marriage designs
      </ion-label>
    </ion-item>
    
    
  </ion-card>
</ion-content>
